@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .sick-text {
      color: #e4ff00;
    }
    .sick-bg {
        background-color: #e4ff00;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
